node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# playwright
test-results
playwright-report
blob-report
.playwright

# dotenv environment variable files
.env.*
!.env.example
